* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  &.--overlay-enabled {
    height: 100%;
    overflow: hidden;

    .page {
      opacity: 0.2;
    }
  }
}
html,
body {
  height: 100%;
}
ul {
  margin: 8px 0;
  padding: 0 0 0 16px;
}
a {
  text-decoration: none;
  color: #002bb8;
  &:hover {
    text-decoration: underline;
  }
}

//overlays
.drawer {
  top: 10%;
  bottom: 10%;
  left: 2em;
  right: 2em;
  background: #fff;
  text-align: left;
  box-shadow: 0 8px 6px -6px #bbb;
  padding-top: 8px;
  max-width: 500px;
  overflow: hidden;
  height: auto;
  width: auto;
  position: fixed;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  .overlay-content {
    overflow-y: auto;
  }
}

// edit
.edit-link {
  visibility: hidden;
}

.client-auth {
  .edit-link {
    visibility: visible;
  }
}

.client-no-connection {
  #search,
  .action--add-trip,
  .edit-link {
    visibility: hidden;
  }
}

// icons
.mw-ui-icon-note:before {
  background-image: url(/images/note.svg);
}
.mw-ui-icon-add-trip:before {
  background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2224%22%20height%3D%2223%22%20viewBox%3D%220%200%2024%2023%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ctitle%3E%0A%20%20%20%20%20%20%20%20Shape%0A%20%20%20%20%3C%2Ftitle%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Artboard-1%22%20fill%3D%22%23777%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M12%204.512l2.267%204.777%205.333.663L16%2013.67l.667%205.174L12%2016.588l-4.8%202.256.8-5.175-3.733-3.717%205.2-.664L12%204.51zM12%200L8.267%207.432%200%208.626l6%205.84-1.467%208.094L12%2018.58l7.333%203.98L18%2014.332l6-5.84L15.6%207.3%2012%200z%22%20id%3D%22Shape%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A);
}
.mw-ui-icon-tick:before {
  background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2051.6%2051.6%22%20enable-background%3D%22new%200%200%2051.6%2051.6%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Ccircle%20fill%3D%22%2300AF89%22%20cx%3D%2225.8%22%20cy%3D%2225.8%22%20r%3D%2224.7%22%2F%3E%0D%0A%09%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2239%2C18.6%2035.7%2C15.3%2021.3%2C29.8%2015.9%2C24.3%2012.7%2C27.6%2021.3%2C36.3%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
}
.mw-ui-icon-blank-tick:before {
  background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2051.6%2051.6%22%20enable-background%3D%22new%200%200%2051.6%2051.6%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Ccircle%20fill%3D%22%23CCCCCC%22%20cx%3D%2225.8%22%20cy%3D%2225.8%22%20r%3D%2224.7%22%2F%3E%0D%0A%09%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2239%2C18.6%2035.7%2C15.3%2021.3%2C29.8%2015.9%2C24.3%2012.7%2C27.6%2021.3%2C36.3%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
}
.mw-ui-icon-edit:before {
  background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%20-410%202048%202048%22%20width%3D%2224%22%20height%3D%2224%22%3E%0A%20%20%20%20%3Cg%20id%3D%22g4%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M307.05%201073.838q32.507%2022.505%2097.522%2087.52L1659.846%2026.108q-33.757-60.014-101.272-82.52zm-135.03-51.26L1563.576-225.197q156.284%2026.256%20276.31%20155.034Q1959.91%2058.617%201968.663%20217.4L575.858%201470.177%2060.746%201525.19z%22%20id%3D%22path6%22%20fill%3D%22%23777%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A);
}
