.search-overlay {
    top: 286px !important;
    bottom: 0px !important;
    .overlay-content {
        overflow-y: hidden !important;
    }
}
.search-overlay__results {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 40px;
}