@import './../globals.less';

/* stylelint-disable selector-no-id */
.overlay-enabled {
  .component-page-banner {
    z-index: 5;
    .subtitle,
    #section_0,
    .mw-ui-icon-search {
      visibility: hidden;
    }
    > div {
      overflow: inherit;
    }
  }
}

.mw-ui-icon-search:before {
	background-image: url(search.png);
}

.component-page-banner {
  position: relative;
  z-index: 2;
  max-height: none;
  height: @map-height;
  background-color: #b9d4ee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .mw-ui-icon {
    position: absolute;
    right: -8px;
    bottom: 8px;
  }

  .content-container {
    background: none;
    text-align: center;
    color: @app-bg-color;
    text-transform: uppercase;
  }

  .map-marker {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -30px;
    margin-right: -20px;
  }

  .subtitle {
    font-weight: bold;
    font-size: 0.8em;
  }

  h1 {
    font-weight: bold;
    font-size: 1.7em;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.title-long {
      font-size: 1em;
    }
  }

  > div {
    left: -1px;
    overflow: hidden;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
  }
}

.component-page-banner__subtitle {
  font-weight: bold;
  font-size: 0.8em;
  color: #5c4b40;
}

.component-page-banner__site-image {
  padding-top: 8px;
  border: 0;
  margin: 0;

  a {
    display: block;
    width: 270px;
    margin: 20px auto 0 auto;
  }
  img {
    margin-top: 8px;
  }
}

.component-page-banner__title {
  font-weight: bold;
  font-size: 1.7em;
  font-family: sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #5c4b40;

  a:visited,
  a:hover,
  a {
    text-decoration: none;
    color: #5c4b40;
  }
}

@media (min-width: @deviceWidthTablet) {
  .component-page-banner {
    margin-left: auto;
    margin-right: auto;

    h1 {
      font-size: 2.2em;

      &.title-long {
        font-size: 1.2em;
      }
    }
  }
}
