@import './../globals.less';

.page {
  background-color: @someday-blue;
  min-height: 100%;
}

footer {
  padding: 8px 0;
  font-size: 0.6em;
  border-top: dotted 2px @boquete-brown;
  .grid-column-3 {
    text-align: right;
  }
}
