@import './../globals.less';

.note {
  background: url(/images/grid.png?r=3);
  background-repeat: repeat;
  background-position: -20px -9px;
  background-size: 40px 40px;
  padding: 0 30px;
  border: solid 1px transparent;
}
