@import './../globals.less';

@width: @grid-column-size / 2;
.card-grid {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(@width, auto);
}

.card-grid__card {
  width: @width !important;
  height: @width !important;
  cursor: pointer;
  border: 0;

  .card-thumb {
    width: @width;
  }

  a {
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px;
    span {
      content: '';
      background: @someday-blue;
      font-size: 0.7em;
      display: block;
      opacity: 0.8;
    }
  }

  a,
  h3,
  .card-detail {
    position: absolute;
    max-height: none !important;
    height: @width;
    display: block;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: @width;
    transform: none;
  }
}

@media ( min-width: @breakpoint ) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
